*{
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}
body{
    white-space: nowrap;
}
footer{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
p{
    line-height: 40px;
    font-size: 20px;
    opacity: 50%;
}
p img{
    filter: brightness(.8) contrast(1.5);
    height:  25px;
    padding: 2px;
    top: 8px;
}
.window,.apple{
    border: 1.1px solid black;
    padding: 0px 6px 1px 6px;
    border-radius: 20px;
    margin: 10px 0px;
}
h1{
    font-weight: 700;
    font-size: 35px;
}
.foot1,.foot2,.fin-7{
    justify-content: center;
    align-items: center;
    display: flex;
}
.foot1{
    margin-bottom: 50px;
    gap: 4%;
}
.foot1 p{
    font-size: 15px;
}
.foot2{
    background-color: #72c139f2;
    padding: 18px 20px;
    gap: 33%;
}
.fin-1{
    padding-right:  100px;
    padding-bottom: 20px;
}
.fin-1 img{
    bottom: 25px;
}
.fin-6{
    right: 30px;
}
.fin-7{
    gap: 10%;
}