*{
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}
body{
    white-space: nowrap;
}
footer{
    justify-content: center;
    align-items: center;
}
p{
    opacity: 50%;
}
h1{
    
}
.foot1,.foot2{
    justify-content: center;
    align-items: center;
    display: flex;
}